<div class="table-responsive">
  <h1>Services</h1>
  <%= link_to new_service_path, class: 'btn btn-xs btn-primary' do %>
    <span class="fa fa-plus"></span> Add service !
  <% end %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="status">Status</th>
        <th class="name">Name</th>
        <th class="address">Address</th>
        <th class="port">Port</th>
        <th class="action"></th>
      </tr>
    </thead>

    <tbody id="services">
      <% @services.each do |service| %>
        <%= render partial: 'node', locals: { service: service } %>
      <% end %>
    </tbody>
  </table>
</div>


