/*
 *= require bootstrap
 *= require font-awesome
 *= require_tree .
 *= require_self
*/

.row { margin-top: 25px; }
.table-responsive>h1 { display: inline; }
.table-responsive>.btn { float: right; margin: 15px 5px 0px 0px; }
.name>a { color: #000; }
.address { text-align: left; min-width: 150px; max-width: 150px; }
.port { text-align: center; min-width: 30px; max-width: 30px; }
.status { text-align: center; min-width: 50px; max-width: 50px; }
.action { min-width: 40px; max-width: 40px; }
.action>.left { float: left; }
.action>.right { float: right; }
.table>tbody>tr>td { border-top: none; }
.table>thead>tr>th { border-bottom: none; }
