/*
 *= require bootstrap
 *= require font-awesome
 *= require_tree .
 *= require_self
*/

a { color: #000; text-decoration: none; }
a:hover { text-decoration: none; color: #08298A; }
.row { margin-top: 50px; }
.table-responsive>h1 { display: inline; }
.table-responsive>.btn { float: right; margin: 15px 5px 0px 0px; }
.table td { white-space: nowrap; }
.name>a { font-weight: bold; }
.address { min-width: 80px; max-width: 80px; }
.address { text-align: left; min-width: 150px; max-width: 150px; }
.port { text-align: center; min-width: 60px; max-width: 60px; }
.status { text-align: left; min-width: 60px; max-width: 60px; }
.action { min-width: 70px; max-width: 70px; }
.action>.left { float: left; }
.action>.right { float: right; }
form .delete { float: right; }
.table>tbody>tr>td { border-top: none; }
.table>thead>tr>th { border-bottom: none; padding-bottom: 0px; }
footer { text-align: center; font-style: italic; }
